%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_url}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span= "Rating: #{average_rating(@video)}/5.0"
        %p= @video.description
        .actions
          = link_to("Watch Now", @video.video_url, class: 'btn btn-primary', target: 'blank')
          = link_to("+ My Queue", queue_items_path(video_id: @video.id), method: 'post', class: 'btn btn-default') unless current_user.queued_video?(@video)

= render 'reviews/reviews'